html {

	scroll-behavior: smooth;
	overflow: auto !important;

}

body {

	padding: 0;
	margin: 0;
	font-family: arial;
	/**/ background: white;
	color: black; 

}

a {

	color: magenta;

}

.fl {

	position: relative;
	display: flow-root;

}

.fll {

	float: left;

}

.flr {

	float: right;

}

.abs {

	position: absolute;
	display: block;

}

.in {

	position: relative;
	display: block;

}

.inl {

	position: relative;
	display: inline-table;

}

.fix {

	position: fixed;
	display: block;

}

.w-fit {
	width: fit-content;
}

.w-fill {
	width: -webkit-fill-available;
}

.center {

	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;

}

.in-outline {
	outline: none !important;
	border: none;
}

input, button, select, option {
	background-color: #2196F3;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
	transition: .3s;
}

button {
	text-align: center;
}

button:hover {
	background-color: #1682da;
}

input {
	background-color: #b6d4ec;
	color: black;
}

th {
	border-bottom: 1px solid gray;
	font-weight: normal;
	margin: 0;
}

::placeholder {
	color: black;
	opacity: 1; /* Firefox */
	background: none;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
	background: none;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
	background: none;
}

.section-title {
	padding: 15px;
}

.section-form {
	margin: auto;
	max-width: 500px;
	margin: 10px;
	background-color: #e8e8e8;
	display: block;
	position: relative;
	padding: 10px;
}

.fa {
	font-size: 20px;
	cursor: pointer;
}

.fa:hover {
	color: #1682da;
}

li {
	cursor: pointer; 
	font-weight: bold;
}

.navbar {
	background-color: black;
	color: white;
	padding: 5px;
	font-weight: bold;
}

.btn-navbar {
	color: gray;
	transition: .3s;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	text-decoration: none;
}

.btn-navbar:hover {
	color: white;
}